<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CadenaConexion"
			 connectionString="Data Source=NOMBRE_SERVIDOR; Initial Catalog=NOMBRE_BASE_DATOS; User ID=tu_usuario_sql; Password=tu_contrasena;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>